# -*- coding: utf-8 -*-
# vim: ft=yaml

#defaults settings - OS independent, will be merged with and overridden by OS specific settings
{% import_yaml "template/maps/defaults.map" as template_defaults %}

#overrides defaults, used if OS specific settings for current OS could not be found in os.map 
{% import_yaml "template/maps/osdefaults.map" as template_osdefaults %}

#overrides defaults, OS specific
{% import_yaml "template/maps/os.map" as template_os %}

{% set template_os_family = {} %}

{% do template_os_family.update(template_defaults) %}
{% do template_os_family.update(template_osdefaults) %}
{% do template_os_family.update(template_os) %}

# - defaults is merged with and overridden by OS specific settings (os, if current OS is defined in os.map, osdefaults if current OS is not defined in os.map) 
# - resulting dict is merged with 'template:lookup' - pillar (pillar overrides)
{%- set template_default_plus_pillar_lookup = salt['grains.filter_by'](template_os_family, grain='os_family', merge=salt['pillar.get']('template:lookup'), default='osdefaults', base='defaults') %}

#FIXME: why this insane double merge in salt pillars
# now template_default_plus_pillar_lookup is merged with 'template'-pillar ('template'-pillar overrides template_default_plus_pillar_lookup)
{%- set template = salt['pillar.get']('template', default=template_default_plus_pillar_lookup, merge=True) %}
