# -*- coding: utf-8 -*-
# vim: ft=yaml

#base settings - OS independent, will be merged with and overridden by os_specific settings
{% import_yaml "template/maps/base.map" as template_base %}

#overrides base, for OSs which are not defined in os.map
{% import_yaml "template/maps/default.map" as template_default %}
#
#os specific, overrides base
{% import_yaml "template/maps/os.map" as template_os %}

{% set template_os_family = {} %}

{% do template_os_family.update(template_base) %}
{% do template_os_family.update(template_default) %}
{% do template_os_family.update(template_os) %}

# - base is for defaults, os independent
# - base is merged with and overridden by os specific settings (os, if defined for grain os_family, default if os is not defined for grain os_family) 
# - resulting dict is merged with 'template:lookup' - pillar (pillar overrides)
{%- set template_default_plus_pillar_lookup = salt['grains.filter_by'](template_os_family, grain='os_family', merge=salt['pillar.get']('template:lookup'), default='default', base='base') %}

#FIXME: why this insane double merge in salt pillars
# now template_default_plus_pillar_lookup is merged with 'template'-pillar ('template'-pillar overrides template_default_plus_pillar_lookup
{%- set template = salt['pillar.get']('template', default=template_default_plus_pillar_lookup, merge=True) %}
