template:
  lookup:
    keys:
      - template_pillar1
      - template_pillar2
    template_pillar: "yes"

    conf:
      'without_section_pre':
        opt-without-section-at-beginning-of-file: 'enabled'
      '[sect1]'
        opt1: 'value1'
      '[sect2]'
        opt2: 'value2'
        opt3: 'value3'
      'without_section_post':
        opt-without-section-at-end-of-file-will-be-in-last-section: 'enabled'
